@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2 class="text-primary">All Roles</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Role Name</th>
            <th>Role ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Id</td>
            </tr>
        }
    </tbody>
</table>
