@using MvcITIProject.ModelView
@model PublisherModelView

@{
    ViewData["Title"] = "Publisher Details";
}

<div class="container mt-4">
    <h1>Publisher Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Publisher Name</dt>
            <dd class="col-sm-10">@Model.Name</dd>
            <dt class="col-sm-2">Number of Books</dt>
            <dd class="col-sm-10">@Model.BookCount</dd>
            <dt class="col-sm-2">BOOKS</dt>
            <dd class="col-sm-10">
                <ul>
                    @if (Model.Books != null && Model.Books.Any())
                    {
                        foreach (var book in Model.Books)
                        {
                            <li>@book.Title</li>
                        }
                    }
                    else
                    {
                        <li>No books available for this publisher.</li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>